<form method="post">
	<p>How often do you feel anxious before an exam</p>
	<input type="range" name="q1" min="1" max="5">
<P>How often have you forgotten your answers due to exam anxiety</p>
	<input type="range" name="q2" min="1" max="5">
	<P> How often do you have trouble sleeping before exams</p>
	<input type="range" name="q3" min="1" max="5">
<p>How often have you lost confidence due to exam anxiety</P>
	<input type="range" name="q4" min="1" max="5">
<p>How often has anxiety affected your studies before exams</p>
	<input type="range" name="q5" min="1" max="5">
	<br><br>
	<button type="submit">Submit</button>
<p>{{ user_count }} students have used this tool so far.</p>
</form>
